@{
    ViewData["Title"] = "Train Model";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Train Model</h1>

<p>@ViewBag.Message</p>

<a asp-controller="Car" asp-action="Index" class="btn btn-primary">Назад</a>
